<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="dodolan manuk responsive catalog themes built with twitter bootstrap">
    <meta name="keywords" content="responsive, catalog, cart, themes, twitter bootstrap, bootstrap">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="shortcut icon" href="/img/favicon.png">

    <title>Navnirmitee Smart Toy Library</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <div id="modal" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content page-content" style="padding : 0px 0px">
    </div>	
    </div>	
    </div>	
    {{#unless hideNavBar}}
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="/">Navnirmitee</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        	<ul class="nav navbar-nav nav-left">
                <!-- <li class="active"><a href="/">Home</a></li> -->
			  <li><a href="/howitworks">How It Works</a></li>
			  <li><a href="/search">Search Toys</a></li>
                <li><a href="/pricing">Pricing</a></li>
			</ul>
			<a href="/" class="logo visible-lg visible-md"><img src="/img/logo.jpg" alt="dodolan manuk responsive catalog themes"></a>
			<div id="brand" class="visible-lg visible-md">&nbsp;</div>
			<ul class="nav navbar-nav nav-right">
                <li><a href="/about">About Us</a></li> 
                <!-- <li><a href="/profile">Profile</a></li>-->
                <li><a href="/contact">Contact</a></li>
                {{#if isLoggedIn}}
                <li class="dropdown"><a class="dropdown-toggle hidden-xs" data-toggle="dropdown"><span style="text-transform: lowercase;"> {{user.email_address}} </span><span class="caret"></span></a>
                <ul style="width: 100%; margin-top: 0px;" class="dropdown-menu dropdown-menu-right" >
                    <li><a href="/logout">Logout</a></li>
                </ul>
                </li>
                {{else}}
                <li><a href="/login" >Login</a></li>
                {{/if}}
                <!-- <a class="navbar-btn dropdown-toggle hidden-xs"><i class="glyphicon glyphicon-shopping-cart"></i><span> Cart - 0 </span><span class="caret"></span></a>   
                </li> -->
              <!--<li><a href="order.html">Order</a></li>-->
			</ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {{/unless}}
    {{{body}}}
	<!-- begin:footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>Navnirmitee</h3>
					<p>Smart Toy Library</p>

<!--					<ul class="list-unstyled social-icon">
		              <li><a href="#" rel="tooltip" title="Facebook" class="icon-facebook"><span><i class="fa fa-facebook-square"></i></span></a></li>
		              <li><a href="#" rel="tooltip" title="Twitter" class="icon-twitter"><span><i class="fa fa-twitter"></i></span></a></li>
		              <li><a href="#" rel="tooltip" title="Linkedin" class="icon-linkedin"><span><i class="fa fa-linkedin"></i></span></a></li>
		              <li><a href="#" rel="tooltip" title="Instagram" class="icon-gplus"><span><i class="fa fa-google-plus"></i></span></a></li>
		              <li><a href="#" rel="tooltip" title="Instagram" class="icon-instagram"><span><i class="fa fa-instagram"></i></span></a></li>
                    </ul>-->

					<div class="sitemap">
						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/about">ABOUT</a></li>
                            <!--							<li><a href="/profile">PROFILE</a></li> -->
							<li><a href="/contact">CONTACT</a></li>
							<li><a href="/login">LOGIN</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:footer -->
	
	<!-- begin:copyright -->
	<div id="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<small>Copyright &copy; 2013 Dodolan Manuk All Right Reserved. Made With <i class="fa fa-heart-o"></i> by Afriq</small>
				</div>
			</div>
		</div>
	</div>
	<!-- end:copyright -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/q-1.1.0.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/js/gmap3.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/util.js"></script>

  </body>
</html>
