	
	<!-- begin:heading -->
	<div class="heads" style="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>about us</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
	
	<!-- begin:content -->
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
				      <li><a href="/">Home</a></li>
				      <li class="active">About Us</li>
				    </ol>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 col-sm-8">
					<h3>Vision</h3>
					<p style="font-size : 14px;">Make your child capable of doing innovation by age of 15 by harnessing different skills according to his/her interests.</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<img src="img/kid-smart-lightbulb-brain.jpg" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
				</div>
			</div>
			
			<div class="row padd20-top-btm">
				<div class="col-md-4 col-sm-4">
					<img src="img/growing-kids.jpg" class="img-responsive img-rounded" alt="dodolan manuk catalog template">
				</div>
				<div class="col-md-8 col-sm-8">
					<h3>Mission</h3>
                    <p style="font-size : 14px;">Provide a cost effective solution for fulfilling skills requirements of your child as he/she grows.</p>
				</div>
			</div>
			
			<div class="row padd20-top-btm">
				<div class="col-md-12 text-center">
				</div>
			</div>
		</div>
	</div>
	<!-- end:content -->
	
