
	<!-- begin:heading -->
	<div class="heads" style="background: url(/img/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <h2><span>//</span> Order <i class="glyphicon glyphicon-arrow-right" style="top : 5px;color: #1ABC9C;"></i> Play <i class="glyphicon glyphicon-arrow-right" style="top : 5px;color: #1ABC9C;"></i> Return <i class="glyphicon glyphicon-arrow-right" style="top : 5px;color: #1ABC9C;"></i> Repeat</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
    <div class="page-content">
        <div class="container">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-center">Step 1</h3>
                <div class="circle">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content"><p><i class="glyphicon glyphicon-log-in"></i><br><br>Login and Recharge your account</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-center">Step 2</h3>
                <div class="circle">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content"><p><i class="glyphicon glyphicon-search"></i><br><br>Choose and Place order for a toy</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-center">Step 3</h3>
                <div class="circle">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content"><p><i class="glyphicon glyphicon-envelope"></i><br><br>Get your toy at door step</p></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h3 class="text-center">Step 4</h3>
                <div class="circle">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content"><p><i class="glyphicon glyphicon-refresh"></i><br><br>Renew your toy before expiry</p></div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- <div class="nav_shape_circle">
                    <p style="padding-top : 28%;">  Login and recharge your account</p>
                </div> -->
		</div>
	</div>
