
<div class="heads" style="background: url(/img/img02.jpg) center center;">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2><span>//</span> Recharge Confirmation</h2>
</div>
</div>
</div>
</div>

<div class="page-content">
<div class="container">
<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li class="active">Order</li>
</ol>
</div>
</div>

<div class="row confirm">
<div class="col-md-12">
<form class="form-horizontal" role="form" action="/subscribePlan?type={{q_type}}&plan={{q_plan}}" method="post">
<h3 class="">Account Summary</h3>
<hr>


<div class="row">
<div class="col-md-6">
<dl class="dl-horizontal">
  <dt>Date of Enrollment</dt>
  <dd>...</dd>
</dl>
</div>
<div class="col-md-6">
<dl class="dl-horizontal">
  <dt>Membership Status</dt>
  <dd></dd>
</dl>
</div>
</div>


<div class="row">
<div class="col-md-12">
<table class="table table-hover">
<thead>
      <tr>
        <th>Date</th>
        <th>Particular</th>
        <th>Amount Deducted</th>
        <th>Amount Paid</th>
      </tr>
    </thead>
<tbody >
      <tr>
        <td></td>
        <td>e</td>
        <td>xample.com</td>
        <td>xample.com</td>
      </tr>
</tbody>
<tfoot>
      <tr class=" table-bordered" style="border-right-width: 0px; border-left-width: 0px;" >
        <th></th>
        <th></th>
        <th>Balance</th>
        <th>xample.com</th>
      </tr>
</tfoot>
</table>
</div>
</div>

<hr>


</form>
</div>
</div>
</div>
</div>
