<div class="heads" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Scan QR Code</h2>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row confirm">
            <div class="col-md-12 col-sm-12 text-center">
                <img src="/img/{{paymentMethod}}.png" style="width:200px;height:200px"></img>
                <hr>
                <div class="form-group">
                    <a class="btn btn-green" href="/user/orderDetails">Done</a>
                </div>
            </div>

        </div>
    </div>
</div>
