<div id="_nav_login_div">    <div class="modal-header"><a class="close" data-dismiss="modal">&times;</a>
<h3 class="text-center">Log In</h3>
</div>
<div class="modal-body confirm">
<form id="_nav_login_form" class="form-horizontal" action="/" method="post" role="form">
<div class="form-group">
<label class="col-sm-2 control-label" for="email">Email</label>
<div class="col-sm-10">
<input class="form-control" type="text" name="email" placeholder="Email Address"/>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="password">Password</label>
<div class="col-sm-10">
<input class="form-control" type="password" name="password" placeholder="Password"/>
</div>
</div>
</form>
<div class="sitemap">
<ul>
<li><a href="#" id="_nav_createaccount">Create An Account</a></li>
<li><a href="#" id="_nav_forgotpassword">Forgot Password</a></li>

</ul>
</div>
</div>
<div class="modal-footer"><a class="btn btn-green" data-dismiss="modal">Close</a><a class="btn btn-green" onclick="$('#_nav_login_form').submit();">Log In</a>
</div>
</div>
<div id="_nav_register_div" class="hidden">
<div class="modal-header "><a class="close" data-dismiss="modal">&times;</a>
<h3 class="text-center">Create Account</h3>
</div>
<div class="modal-body confirm">
<form id="_nav_register_form" class="form-horizontal" action="/" method="post" role="form">
<div class="form-group">
<label class="col-sm-2 control-label" for="email">Email</label>
<div class="col-sm-10">
<input class="form-control" type="text" name="email" placeholder="Email Address"/>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="mobile_number">Mobile Number</label>
<div class="col-sm-10">
<input class="form-control" type="text" name="mobile_number" placeholder="Mobile Number"/>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="password">Password</label>
<div class="col-sm-10">
<input class="form-control" type="password" name="password" placeholder="Password"/>
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="conf_password">Confirm Password</label>
<div class="col-sm-10">
<input class="form-control" type="password" name="conf_password" placeholder="Password"/>
</div>
</div>
</form>
<div class="sitemap">
<ul>
<li><a href="#" id="_nav_haveanaccount">Already Have An Account</a></li>
</ul>
</div>
</div>
<div class="modal-footer"><a class="btn btn-green" data-dismiss="modal">Close</a><a class="btn btn-green" onclick="$('#_nav_register_form').submit();">Create Account</a>

</div>
</div>
<div id="_nav_forgot_password_div" class="hidden">
<div class="modal-header "><a class="close" data-dismiss="modal">&times;</a>
<h3 class="text-center">Reset Password</h3>
</div>
<div class="modal-body confirm">
<form id="_nav_forgot_form" class="form-horizontal" action="/" method="post" role="form">
<div class="form-group">
<label class="col-sm-2 control-label" for="email">Email</label>
<div class="col-sm-10">
<input class="form-control" type="text" name="email" placeholder="Email Address"/>
</div>
</div>
<div class="modal-footer"><a class="btn btn-green" data-dismiss="modal">Close</a><a class="btn btn-green" onclick="$('#_nav_forgot_form').submit();">Reset Password</a>

</div>
</div>
